# Ignore node_modules for both frontend and backend
**/node_modules

# Ignore logs
**/logs
*.log
npm-debug.log*

# Ignore environment files
**/.env

# Ignore uploads (backend-specific)
backend/uploads

# Ignore temporary or system files
.DS_Store
*.swp
